{
    "GitHub": true,
    "GetPSDev": false,
    "PSGallery": false,
    "PushLocal": true,
    "Sign": true,
    "CreateZIP": true,
    "RunPesterTests": true,
    "CreateInstall": true,
    "InstallerConfig": {
        "AppPublisher": "",
        "AppPublisherURL": "",
        "AppSupportURL": "",
        "AppUpdatesURL": ""
    },
    "OS": {
        "Windows": true,
        "Linux": true,
        "MacOS": true
    },
    "Edition": {
        "Desktop": true,
        "Core": true
    }
}
